#root {
  margin: 0 auto;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.context-text-wrapper{
  height: 60rem;
}

.context-text {
  background-color: #EEF5F6;
  border: 3px solid #27407E;
  border-radius: 15px;
  padding: 5rem 10rem;
  margin: 5rem;
}