#root {
  margin: 0 auto;
  text-align: center;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.context-text {
  background-color: #EEF5F6;
  border: 3px solid #27407E;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 80vh;
  width: 50vw;
  padding: 2rem;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25);
}

@media (max-width: 450px) {
	.context-text{
		width: 95vw;
	}
}