#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.context-text-wrapper{
  height: 60rem;
}

.context-text {
  background-color: #F1F8DC;
  border: 3px solid #6E9853;
  border-radius: 15px;
  padding: 5rem 10rem;
  margin: 5rem;
}