.city-section{
	display: flex;
	flex-direction: column;
	gap: 25rem;
	position: relative;
  	z-index: 5;
}

.transition{
	background-color: #EEF5F6;
	border: 3px solid #27407E;
	border-radius: 15px;
	margin: auto;
	margin-bottom: 15rem;
	width: 50vw;
	padding: 2rem;
	box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25);
	position: relative;
  	z-index: 5;
}

.city-section p{
	background-color: #EEF5F6;
	border: 3px solid #27407E;
	border-radius: 15px;
	text-align: justify;
	width: 90%;
	padding: 2rem;
	box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25);
}

.chart-wrapper{
	padding: 1rem 3rem;
	width: 90%;
	display: grid;
	place-content: center;
	border-radius: 12px;
  	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
	background-color: white;
}

.city-divider{
	height: 100vh;
	width: 90vw;
}

.text-chart-group{
	display: grid;
	grid-template-columns: 1fr 2fr;
	align-items: start;
	justify-items: center;
}

.text-chart-group__texts{
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;
}

.text-chart-group__chart{
	position: sticky;
	top: 25vh;
}

@media (max-width: 450px) {
	.chart-wrapper>*{
		max-width: 95vw;
	}

	.city-section p, .transition{
		width: 95vw;
	}
}
