.city-section{
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 0 7rem;
	margin: 0 5rem;
}

.transition{
	background-color: #EEF5F6;
	border: 3px solid #27407E;
	border-radius: 15px;
	padding: 3rem 5rem;
	margin: 5rem 15rem;
	margin-bottom: 15rem;
}

.city-section p{
	background-color: #EEF5F6;
	border: 3px solid #27407E;
	border-radius: 15px;
	padding: 3rem;
	text-align: justify;
}

.chart-wrapper{
	width: 50vw;
	height: 30rem;
	display: grid;
	place-content: center;
	margin: auto;
	padding: 3rem;
	border-radius: 12px;
  	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}

.city-divider{
	height: 100vh;
	width: 100vw;
}
