.footer{
    text-align: center;
    padding: 1rem;
    background-color: #f8f8f8;
    color: #333;
    font-size: 0.9rem;
    border-top: 1px solid #e0e0e0;
    position: relative;
  	z-index: 5;
}

.footer a{
  color: #14449D;
}
.footer-disclaimer {
  font-size: 0.85rem;
  color: #333;
  display: block;
  margin-top: 0.75rem;
}