.hero-section{
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: -2;
}

.hero-section__content{
	padding: 5rem 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4rem;
	width: 100%;
	height: 100%;
}

.blue-waves{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -3;
	height: 100vh;
}

.white-curve{
	position: absolute;
	top: 80vh;
	left: 0;
	width: 100vw;
	height: 20vh;
}

/* this is the section that 
wraps around eveything other 
than the hero section, to have it
scroll over it
 */
.scroll-content{
	background-color: white;
	width: 100vw;
}

.hero-section h1 {
	margin-bottom: 3rem;
}

.mini-intro{
	padding: 0 5rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 90vw;
}

/* bouncing arrow */
.scroll{
	animation: bounce 0.5s infinite alternate;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.scroll img{
	height: 3rem;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

@media (max-width: 450px) {
	.hero-section h1 {
		margin-bottom: 1rem;
	}

	.mini-intro{
		padding: 0;
	}
}