* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.map-wrapper {
	display: grid;
	place-content: center;

	position: sticky;
    top: 1rem;

	z-index: -10;
}

.city-divider{
	height: 50rem;
	width: 100vw;
}