* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.map-wrapper {
	display: grid;
	place-content: center;

	position: sticky;
    top: 0;
}

.country-map img{
	width: 1272px;
}

.city-map{
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.city-map .grid-map__item{
	width: 246px;
	height: 298px;
}
