image: node:24-bookworm-slim

workflow:
  rules:
    # Run on merge requests
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    # Run on pushes to main
    - if: '$CI_COMMIT_BRANCH == "main"'
    # Run on pushes to staging
    - if: '$CI_COMMIT_BRANCH == "staging"'

stages:
  - lint
  - build
  - test
  - release
  - deploy

default:
  cache:
    key:
      prefix: $CI_COMMIT_REF_NAME
      files:
        - server/package-lock.json
        - client/package-lock.json
    paths:
      - server/.npm/
      - client/.npm/
  before_script:
    - cd server && npm ci --cache .npm --prefer-offline && cd ..
    - cd client && npm ci --cache .npm --prefer-offline && cd ..

lint-server:
  stage: lint
  script:
    - cd server && ./node_modules/.bin/eslint --ext js,jsx,mjs,cjs .
  allow_failure: false

lint-client:
  stage: lint
  script:
    - cd client && ./node_modules/.bin/eslint --ext js,jsx,mjs,cjs .
  allow_failure: false

build-client:
  stage: build
  script:
    - cd client && npm run build
  only:
    refs:
      - main
      - staging
  artifacts:
    expire_in: 1 day
    when: on_success
    paths:
      - client/dist

check-bundlesize:
  stage: build
  script:
    - cd client
    - npm ci --cache .npm --prefer-offline
    - npm run build
    - npx bundlesize2
  # fails if size exceed the limit
  allow_failure: false
  
  # will run after the build-client is done
  # but build-client does not always run so I comment it out for now
  # needs:
  #   - build-client
  # keep dist folder for inspection
  artifacts:
    when: on_failure
    expire_in: 1 day
    paths:
      - client/dist


test-server:
  stage: test
  # these environment variables make sure tests run
  # in "test mode" without connecting to mongo
  # Our unit tests use stubs/mocks instead of real MongoDB access
  variables:
    NODE_ENV: test
    # dummy db
    DB_NAME: webproject
    # fake mongo uri to prevent real db donnection
    ATLAS_URI_DEV: mongodb://fake-uri
  script:
    - cd server
    - echo "DB_NAME=webproject" > .env
    - echo "ATLAS_URI_DEV=mongodb://fake-uri" >> .env
    - npm test

# produce a single tar.gz to scp to AWS
# runs only on tag pipeline
build-app-archive:
  stage: release
  
  # same image as pipeline
  image: node:24-bookworm-slim
  
  # name of the product
  variables: 
    RELEASE_FILE: release-$CI_PROJECT_NAME-$CI_COMMIT_TAG-$CI_COMMIT_SHORT_SHA.tar.gz

  rules:
    # run only for tag pipelines
    # - if: '$CI_COMMIT_TAG'
    #   when: always
    - when: never


  # override the before_script
  # install only production deps - omit dev
  before_script:
    - cd server
    - npm ci --omit=dev --cache .npm --prefer-offline
    - cd .. 
  

  # create tar.gz with prodcuction needed files
  # exclude cache and dev stuff
  script:
    # remove any leftover archive in workspace
    - rm -f "$RELEASE_FILE"

    - tar -zcvf "$RELEASE_FILE" \
      --exclude='server/.npm' \
      --exclude='server/*.log' \
      --exclude='client/node_modules' \
      --exclude='client/.npm' \
      server \
      client/dist \
      package.json \
      package-lock.json \
      README.md

  artifacts:
    # downloadble archive
    paths:
      - "$RELEASE_FILE"
    when: on_success
    expire_in: 1 week