image: node:24-bookworm-slim

workflow:
  rules:
    # Run on merge requests
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    # Run on pushes to main
    - if: '$CI_COMMIT_BRANCH == "main"'
    # Run on pushes to staging
    - if: '$CI_COMMIT_BRANCH == "staging"'

stages:
  - lint
  - build
  - test
  - release
  - deploy

default:
  cache:
    key:
      prefix: $CI_COMMIT_REF_NAME
      files:
        - server/package-lock.json
        - client/package-lock.json
    paths:
      - server/.npm/
      - client/.npm/
  before_script:
    - cd server && npm ci --cache .npm --prefer-offline && cd ..
    - cd client && npm ci --cache .npm --prefer-offline && cd ..

lint-server:
  stage: lint
  script:
    - cd server && ./node_modules/.bin/eslint --ext js,jsx,mjs,cjs .
  allow_failure: false

lint-client:
  stage: lint
  script:
    - cd client && ./node_modules/.bin/eslint --ext js,jsx,mjs,cjs .
  allow_failure: false

build-client:
  stage: build
  script:
    - cd client && npm run build
  only:
    refs:
      - main
      - staging
  artifacts:
    expire_in: 1 day
    when: on_success
    paths:
      - client/dist

check-bundlesize:
  stage: build
  script:
    - cd client
    - npm ci --cache .npm --prefer-offline
    - npm run build
    - npx bundlesize2
  # fails if size exceed the limit
  allow_failure: false
  
  # will run after the build-client is done
  # but build-client does not always run so I comment it out for now
  # needs:
  #   - build-client
  # keep dist folder for inspection
  artifacts:
    when: on_failure
    expire_in: 1 day
    paths:
      - client/dist


test-server:
  stage: test
  # these environment variables make sure tests run
  # in "test mode" without connecting to mongo
  # Our unit tests use stubs/mocks instead of real MongoDB access
  variables:
    NODE_ENV: test
    # dummy db
    DB_NAME: webproject
    # fake mongo uri to prevent real db donnection
    ATLAS_URI_DEV: mongodb://fake-uri
  script:
    - cd server
    - echo "DB_NAME=webproject" > .env
    - echo "ATLAS_URI_DEV=mongodb://fake-uri" >> .env
    - npm test


# given example
# build-app-archive:
#   stage: ...
#   variables:
#     RELEASE_FILE: release-$CI_PROJECT_NAME-$CI_COMMIT_TAG-$CI_COMMIT_SHORT_SHA.tar.gz
#   dependencies:
#     - ...
#   rules:
#   - if: ...
#   before_script:
#     - ...
#   script:
#     - tar -zcvf $RELEASE_FILE ...
#   artifacts:
#     ...
#     paths:
#       - ...
