stages:
  - lint 

lint:
  stage: lint
  image : node:20
  before_script:
    - npm install --prefix frontend
    - npm install --prefix backend
  script: 
  - npm run lint:fix --prefix frontend
  - npm run lint:fix --prefix backend